{% extends "base_static.django.html" %}

{% block title %} Contact Us {% endblock %}
{% block pagename %}contact{% endblock %}
{% block content %}
<h1>Contact Us</h1>
<p>5230 Finch Avenue East, Unit 14<br>
Middlefinch Business Centre<br>
Scarborough, Ontario<br>
M1S 5A1<br>
Canada</p>
<p>Tel: 416-754-0880<br>
Fax: 416-298-8468<br>
<a href="mailto:info@polygonproduction.com">info@polygonproduction.com</a>
</p>
{% endblock %}

{% block photo %}
<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ca/maps?f=q&amp;hl=en&amp;geocode=&amp;q=5230+Finch+Avenue+East,+Scarborough,+Ontario&amp;sll=49.891235,-97.15369&amp;sspn=24.000582,59.765625&amp;ie=UTF8&amp;om=1&amp;ll=43.817808,-79.252024&amp;spn=0.00655,0.014591&amp;z=14&amp;iwloc=addr&amp;output=embed&amp;s=AARTsJqcPvct2LrT1X2310lnI0diSqovOw"></iframe>
<br>
<a href="http://maps.google.ca/maps?f=q&amp;hl=en&amp;geocode=&amp;q=5230+Finch+Avenue+East,+Scarborough,+Ontario&amp;sll=49.891235,-97.15369&amp;sspn=24.000582,59.765625&amp;ie=UTF8&amp;om=1&amp;ll=43.817808,-79.252024&amp;spn=0.00655,0.014591&amp;z=14&amp;iwloc=addr&amp;source=embed">View Larger Map</a>
<br>
{% endblock %}
