{% extends "base_static.django.html" %}

{% block title %} Karaoke and Studio Design {% endblock %}
{% block pagename %}karaoke{% endblock %}
{% block content %}
<h1>Karaoke and Studio Design</h1>
<p><span class="dropcap">F</span>or 25 years, our team of dedicated professionals has served as expert consultants to a wide range of clients in North America.  We have provided expert opinions and on-site technical support to numerous radio and television stations, such as ABC, CBC, CBS, CFTO, CTV, City TV, TV Ontario, and CHIN Radio.</p>

<p>We are pleased to share the experience of some of our key projects with you:</p>

<ul>
<li>1983:  Our staff played a prominent role in the design and implementation of the studios at the WCCO TV Station (Minneapolis, USA) from the beginning until it was fully operational</li>

<li>1986:  We spent 2 months re-designing and implementing a state-of-the-art studio at the NBC (New York, USA)</li>

<li>1987:  We provided engineering and technical support to the Crossroads Christian Communications Inc.  (Toronto, Canada) for seven consecutive years</li>

<li>1992:  One of the largest karaoke and disco entertainment facility (Apollo) was established in Vancouver (British Columbia, Canada).  We were proud providers and designers of the entire audio-visual-lighting system, as well as the computerized karaoke system</li>

<li>1994:  We modified and re-designed the sound system for the Civic Centre in the city of Syracuse (New York, USA)</li>

<li>1994:  One of the first disco and karaoke entertainment facilities were established in the Dominican Republic, and we were the proud provider of the audio, lighting, wireless computer systems</li>
</ul>
{% endblock %}

{% block photo %}
<img src="/static/karaoke.jpg" alt="">
<span class="title"> </span>
{% endblock %}
