<ul id="navlist">
    <li><a id="nav-home" href="{% url 'home' %}" title="Home">Home</a></li>
    <li><a id="nav-projects" href="{% url 'projects' %}" title="Projects">Projects</a></li>
    <li><a id="nav-stage" href="{% url 'stage' %}" title="Stage">Stage</a></li>
    <li><a id="nav-karaoke" href="{% url 'karaoke' %}" title="Karaoke">Karaoke</a></li>
    <li><a id="nav-retail" href="{% url 'retail' %}" title="Retail">Retail</a></li>
    <li><a id="nav-contact" href="{% url 'contact' %}" title="Contact">Contact</a></li>
</ul>
