{% extends "base_static.django.html" %}

{% block title %} Retail and Repair Services {% endblock %}
{% block pagename %}retail{% endblock %}
{% block content %}
<h1>Retail and Repair Services</h1>
<p><span class="dropcap">W</span>e are proud and pleased to be the <em>authorized dealer</em> for the following leading brands:  Panasonic, Pioneer, JVC, BMB, Shure, EV, Ross; as well as the <em>authorized repair centre</em> for the Matsushita Electric of Canada LTD (i.e. Panasonic, Technics, National Electronics).</p>
{% endblock %}

{% block photo %}
<img src="/static/retail.jpg" alt="">
<span class="title"> </span>
{% endblock %}
