{% extends "base_static.django.html" %}

{% block title %} Stage System Set-up and Rentals (Audio, Visual, Lighting) {% endblock %}
{% block pagename %}stage{% endblock %}
{% block content %}
<h1>Stage System Set-up and Rentals (Audio, Visual, Lighting)</h1>
<p><span class="dropcap">I</span>f you are interested in our professional stage system set-up and rental for public (e.g. concerts, Chinese opera, special events) or private occasions (e.g. weddings and parties).  Please contact us for a customized quotation free of charge.  Our goal is to provide you with the best service and experience that you are looking for, satisfaction guaranteed.</p>
{% endblock %}

{% block photo %}
<img src="/static/stage.jpg" alt="">
<span class="title">Splendid China Tower, Toronto</span>
{% endblock %}
